@*[security|||offer|||hercules]*@
@using Es.Riam.Gnoss.Web.MVC.Models
@using Es.Riam.Gnoss.Web.MVC.Controles.Helper
@using Es.Riam.Gnoss.Web.MVC.Models.ViewModels
@using Es.Riam.Gnoss.Web.MVC.Models.Administracion
@using Es.Riam.Gnoss.AD.ServiciosGenerales
@using Es.Riam.Gnoss.Web.MVC.Controllers
@using Es.Riam.Gnoss.Web.MVC.Controllers.Administracion
@using Es.Riam.Gnoss.Web.Controles
@using GnossBase
@using Newtonsoft.Json
@using System.Reflection;
@using Es.Riam.Gnoss.Web.MVC.Models.GeneradorClases.Enumeraciones;
@using CurriculumvitaeOntology;
@using OfferOntology
@using PersonOntology
@model ResourceViewModel
@{
    ResourceModel FichaDocumento = Model.Resource;
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    Html.AddBodyClass(" fichaRecurso ");
    Html.AddBodyClass(" fichaRecurso-ofertas-tecnologicas ");
    if (FichaDocumento.ItemLinkedFotoVersion != 0 && !string.IsNullOrEmpty(FichaDocumento.ItemLinked.ToString()) && FichaDocumento.ItemLinked != Guid.Empty)
    {
        string urlPersonalizacion = $"{Html.GetBaseUrlContent()}/{Es.Riam.Util.UtilArchivos.ContentOntologias}/Archivos/{FichaDocumento.ItemLinked.ToString().Substring(0, 3)}";
        Html.GetListaJS().Add($"{urlPersonalizacion}/{FichaDocumento.ItemLinked.ToString()}.js?v= {FichaDocumento.ItemLinkedFotoVersion}");
        Html.GetListaCSS().Add($"{urlPersonalizacion}/{FichaDocumento.ItemLinked.ToString()}.css?v= {FichaDocumento.ItemLinkedFotoVersion}");
    }
    string urlJS = $"{Html.GetBaseUrlContent()}/imagenes/proyectos/personalizacion/{Comunidad.Key.ToString()}/theme/ficharecurso.js";
    Html.GetListaJS().Add(urlJS);
    SemanticResourceModel semCmsModel = Model.SemanticFrom;
    GnossOCBase.LanguageEnum idiomaUsuario = (GnossOCBase.LanguageEnum)Enum.Parse(typeof(GnossOCBase.LanguageEnum), Html.GetUtilIdiomas().LanguageCode.ToLower());
    Offer pOffer = new Offer(semCmsModel, idiomaUsuario);

    Dictionary<string, Person> persons = new();


    Dictionary<string, string> clasesEstado = new Dictionary<string, string>();
    clasesEstado.Add("001", "borrador");
    clasesEstado.Add("002", "revision");
    clasesEstado.Add("003", "validada");
    clasesEstado.Add("004", "denegada");
    clasesEstado.Add("005", "archivada");


    
    //Url de la pestaña para mostrarla en el Breadcrumb
    string urlPestanya = Comunidad.Url + "/" + Html.GetNombreUrlPestanya();
    //Nombre o título de la pestaña para ponerlo en el Breadcrumb
    string nombrePestanya = Html.GetNombrePestanya();

}

<div class="col col-12 col-breadcrumb">
    <ul>
        <li>
            <a href="@Comunidad.Url">Home</a>
        </li>

        @{
            if (!string.IsNullOrEmpty(pOffer.Schema_name
            ))
            {
                    <li><a href="@urlPestanya">@nombrePestanya</a></li>
                    <li>@pOffer.Schema_name</li>
            }
            else
            {
                    <li>---</li>
            }
        }

    </ul>
</div>

@if (true)
{


    <div class="col col-12 col-xl-12 col-contenido">
        <div class="wrapCol">
            <div class="cabecera-ficha">
                <div class="ficha-upper-row">
                    <div class="ficha-icon-wrap">
                        <span class="ficha-icon material-icons">engineering</span>
                    </div>
                    <div class="ficha-title-wrap">
                        <p class="ficha-title">
                            @pOffer.Schema_name
                        </p>
                    </div>
                    @if (pOffer.Schema_availability != null && pOffer.Schema_availability.Dc_identifier != null && clasesEstado!= null && clasesEstado.ContainsKey(pOffer.Schema_availability.Dc_identifier))
                    {
                        string claseEstado = clasesEstado[pOffer.Schema_availability.Dc_identifier];
                        <span class="indicador @claseEstado">@pOffer.Schema_availability.Dc_title[idiomaUsuario]</span>
                    } else {
                        <span class="indicador borrador">@pOffer.Schema_availability.Dc_title[idiomaUsuario]</span>
                        <span class="d-none">@pOffer.Schema_availability.Dc_identifier</span>
                    }
                    <div class="acciones-ficha-wrap">
                        <ul class="no-list-style d-flex">
                            <li>
                                <div class="acciones-recurso-listado">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-outline-grey no-flecha" role="button" id="dropdownMasOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="material-icons">more_vert</span>
                                        </a>
                                        <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right" aria-labelledby="dropdownMasOpciones">
                                            <p class="dropdown-title">@Html.Translate("Acciones")</p>
                                            <ul class="no-list-style">
                                               <li>
                                                    <a class="item-dropdown" href="@Comunidad.Url/nueva-oferta-tecnologica?id=@pOffer.GNOSSID">
                                                        <span class="material-icons">edit</span>
                                                        <span>@Html.Translate("EDITAR")</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="item-dropdown" href="javascript: void(0)" data-toggle="modal" data-target="#modal-eliminar-oferta-confirmacion">
                                                        <span class="material-icons">delete</span>
                                                        <span class="texto">@Html.Translate("BORRAR")</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-wrap offers">
                    <ul>
                        <li class="entity">
                            @if (pOffer.Dct_issued != null)
                            {
                                string anioInicio = pOffer.Dct_issued.Year.ToString();
                                string mesInicio = pOffer.Dct_issued.Month.ToString();
                                string diaInicio = pOffer.Dct_issued.Day.ToString();
                                string fechaInicio = diaInicio + "/" + mesInicio + "/" + anioInicio;

                                <div about="@pOffer.GNOSSID" property="@pOffer.GetPropertyURI(nameof(pOffer.Dct_issued))" class="value">@fechaInicio</div>
                            }
                        </li>
                        <li>
                            @pOffer.Bibo_status.Dc_title[idiomaUsuario]
                        </li>
                        <li>
                            <span class="indicador">@pOffer.Roh_framingSector.Dc_title[idiomaUsuario]</span>
                        </li>
                    </ul>
                </div>
                @if (pOffer.Schema_description != null)
                {
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Schema_description)</p>
                        </div>
                    </div>
                }

                @if (pOffer.Roh_lineResearch != null && pOffer.Roh_lineResearch.Count > 0)
                {
                    <div class="list-wrap">
                        <div class="label">@Html.Translate("LINEA_INVESTIGACION")</div>
                        <ul>
                            @{
                                int contadorCat = 0;
                                foreach (string etiqueta in pOffer.Roh_lineResearch)
                                {
                                    if (!string.IsNullOrEmpty(etiqueta) && contadorCat < 3)
                                    {
                                        contadorCat++;
                                            <li>
                                                <a href="@Comunidad.Url/@Html.Translate("CLUSTER_URL")?vivo:freeTextKeyword@@@@@@roh:title=@etiqueta">
                                                    <span about="@pOffer.GNOSSID" property="@pOffer.GetPropertyURI(nameof(pOffer.Roh_lineResearch))" class="texto">@etiqueta</span>
                                                </a>
                                            </li>
                                    }
                                    else if (!string.IsNullOrEmpty(etiqueta))
                                    {
                                        contadorCat++;
                                            <li class="ocultar" style="display: none;">
                                                <a href="@Comunidad.Url/@Html.Translate("CLUSTER_URL")?vivo:freeTextKeyword@@@@@@roh:title=@etiqueta">
                                                    <span about="@pOffer.GNOSSID" property="@pOffer.GetPropertyURI(nameof(pOffer.Roh_lineResearch))" class="texto">@etiqueta</span>
                                                </a>
                                            </li>
                                    }
                                }
                            }
                        </ul>
                        @if (contadorCat > 3)
                        {
                            <p class="moreResults">
                                <a href="javascript: void(0);" class="ver-mas" style="display: flex;">@Html.Translate("VER_MAS")</a>
                                <a href="javascript: void(0);" class="ver-menos" style="display: none;">@Html.Translate("VER_MENOS")</a>
                            </p>
                        }
                    </div>
                }
                @if (pOffer.Vivo_freetextKeyword != null && pOffer.Vivo_freetextKeyword.Count > 0)
                {
                    <div class="list-wrap">
                        <div class="label">@Html.Translate("DESCRIPTORES_ESPECIFICOS")</div>
                        <ul>
                            @{
                                int contadorAreaConocimiento = 0;
                                foreach (string descriptor in pOffer.Vivo_freetextKeyword)
                                {

                                    if (descriptor != null && !string.IsNullOrEmpty(descriptor) && contadorAreaConocimiento < 3)
                                    {
                                        contadorAreaConocimiento++;
                                            <li>
                                                <a href="@Comunidad.Url/@Html.Translate("OFFER_URL")?roh:hasKnowledgeArea@("@@@")roh:categoryNode=@pOffer.GNOSSID">
                                                    <span about="@pOffer.GNOSSID" property="@pOffer.GetPropertyURI(nameof(descriptor))" class="texto">@descriptor</span>
                                                </a>
                                            </li>
                                    }
                                    else if (descriptor != null && !string.IsNullOrEmpty(descriptor))
                                    {
                                        contadorAreaConocimiento++;
                                            <li class="ocultar" style="display: none;">
                                                <a href="@Comunidad.Url/@Html.Translate("CLUSTER_URL")?roh:hasKnowledgeArea@("@@@")roh:categoryNode=@pOffer.GNOSSID">
                                                    <span about="@pOffer.GNOSSID" property="@pOffer.GetPropertyURI(nameof(descriptor))" class="texto">@descriptor</span>
                                                </a>
                                            </li>
                                            
                                    }
                                }
                            }
                        </ul>
                        @if (contadorAreaConocimiento > 3)
                        {
                            <p class="moreResults">
                                <a href="javascript: void(0);" class="ver-mas" style="display: flex;">@Html.Translate("VER_MAS")</a>
                                <a href="javascript: void(0);" class="ver-menos" style="display: none;">@Html.Translate("VER_MENOS")</a>
                            </p>
                        }
                    </div>
                }
                <div class="list-wrap">
                    <div class="label">@Html.Translate("APLICACIONES")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Roh_application)</p>
                        </div>
                    </div>
                </div>
                <div class="list-wrap">
                    <div class="label">@Html.Translate("DESTINATARIOS")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Bibo_recipient)</p>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(pOffer.Drm_origin))
                {
                    <div class="list-wrap">
                        <div class="label">@Html.Translate("ORIGEN")</div>
                        <div class="description-wrap counted">
                            <div class="desc">
                                <p>@Html.Raw(pOffer.Drm_origin)</p>
                            </div>
                        </div>
                    </div>  
                }
                
                @if (!string.IsNullOrEmpty(pOffer.Roh_innovation))
                {
                    <div class="list-wrap">
                        <div class="label">@Html.Translate("INNOVACION")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Roh_innovation)</p>
                        </div>
                    </div>
                </div>
                }
                
                @if (!string.IsNullOrEmpty(pOffer.Roh_partnerType))
                {
                <div class="list-wrap">
                    <div class="label">@Html.Translate("TIPO_SOCIO_BUSCADO")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Roh_partnerType)</p>
                        </div>
                    </div>
                </div>
                }
                @if (!string.IsNullOrEmpty(pOffer.Roh_collaborationSought))
                {
                <div class="list-wrap">
                    <div class="label">@Html.Translate("TIPO_COLABORADOR_BUSCADO")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Roh_collaborationSought)</p>
                        </div>
                    </div>
                </div>
                }
                @if (!string.IsNullOrEmpty(pOffer.Qb_observation))
                {
                <div class="list-wrap">
                    <div class="label">@Html.Translate("OBSERVACIONES")</div>
                    <div class="description-wrap counted">
                        <div class="desc">
                            <p>@Html.Raw(pOffer.Qb_observation)</p>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="contenido-ficha">
                <div class="tab-paneles-ficha">
                    <div class="tabs">
                        <ul class="nav nav-tabs" id="navegacion-recurso" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="investigadores-tab" data-toggle="tab" href="#investigadores-panel" role="tab" aria-controls="investigadores-panel" aria-selected="true">
                                    <div class="bloque">
                                        <div class="label">@Html.Translate("INVESTIGADORES")</div>
                                        <div class="data">@pOffer.Roh_researchers.Count</div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="proyectos-destacados-tab" data-toggle="tab" href="#proyectos-destacados-panel" role="tab" aria-controls="proyectos-destacados-panel" aria-selected="true">
                                    <div class="bloque">
                                        <div class="label">@Html.Translate("PROYECTOS_DESTACADOS")</div>
                                        <div class="data">@pOffer.Roh_project.Count</div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="publicaciones-destacadas-tab" data-toggle="tab" href="#publicaciones-destacadas-panel" role="tab" aria-controls="publicaciones-destacadas-panel" aria-selected="false">
                                    <div class="bloque">
                                        <div class="label">@Html.Translate("PUBLICACIONES_DESTACADAS")</div>
                                        <div class="data">@pOffer.Roh_document.Count</div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pll-destacados-tab" data-toggle="tab" href="#pll-destacados-panel" role="tab" aria-controls="pll-destacados-panel" aria-selected="false">
                                    <div class="bloque">
                                        <div class="label">@Html.Translate("PII_DESTACADOS")</div>
                                        <div class="data">@pOffer.Roh_patents.Count</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="paneles-recurso">
                        <div class="tab-pane fade show active" id="investigadores-panel" role="tabpanel" aria-labelledby="investigadores-tab">
                            <div class="row">
                                <div class="col col-12 header-listado">
                                    <div class="h1-container">
                                        <h2>@Html.Translate("INVESTIGADORES_SELECCIONADOS")
                                            <span class="numResultados">@pOffer.Roh_researchers.Count</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col col-12 col-contenido derecha">
                                    <div class="wrapCol">
                                        <div class="acciones-listado acciones-listado-investigadores">
                                            <div class="wrap">
                                                <div class="usuario-wrap">@Html.Translate("INVESTIGADOR")</div>
                                            </div>
                                        </div>
                                        <div class="resource-list listView resource-list-investigadores">
                                            <div class="resource-list-wrap">

                                                @foreach (var person in pOffer.Roh_researchers)
                                                {

                                                    <article class="resource">
                                                        <div class="wrap">
                                                            <div class="usuario-wrap">
                                                                <div class="user-miniatura">
                                                                    <div class="imagen-usuario-wrap">
                                                                        <a href="@person.URL">
                                                                            <div class="imagen con-material-icons">
                                                                                <!-- <span style="background-image: url(http://serviciosedma.gnoss.com/imagenes/proyectos/personalizacion/b836078b-78a0-4939-b809-3f2ccf4e5c01/theme/resources/iconos/person-gris.png)"></span> -->
                                                                                <span class="material-icons">person</span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="nombre-usuario-wrap">
                                                                        <a href="@person.URL">
                                                                            <p class="nombre">@person.Foaf_name</p>
                                                                            <p class="nombre-completo">
                                                                                @{
                                                                                    if (!string.IsNullOrEmpty(person.Roh_hasPosition))
                                                                                    {
                                                                                            <span about="@person.GNOSSID" property="@person.GetPropertyURI(nameof(person.Roh_hasPosition))">@person.Roh_hasPosition</span>
                                                                                    }
                                                                                    if (person.Roh_hasRole != null && !string.IsNullOrEmpty(person.Roh_hasRole.Roh_title))
                                                                                    {
                                                                                            <span> @person.Roh_hasRole.Roh_title, </span>
                                                                                    }

                                                                                    if (person.Vivo_departmentOrSchool != null && !string.IsNullOrEmpty(person.Vivo_departmentOrSchool.Dc_title) && !string.IsNullOrEmpty(person.GNOSSID))
                                                                                    {
                                                                                            <span about="@person.GNOSSID" property="@person.GetPropertyURI(nameof(person.Vivo_departmentOrSchool.Dc_title))">@person.Vivo_departmentOrSchool.Dc_title</span>

                                                                                    }
                                                                                }
                                                                            </p>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @if (person.Roh_publicationsNumber != null && person.Roh_publicationsNumber > 0 && !string.IsNullOrEmpty(person.GNOSSID))
                                                            {
                                                                <div class="publicaciones-wrap" about="@person.GNOSSID" property="@person.GetPropertyURI(nameof(person.Roh_publicationsNumber))">@person.Roh_publicationsNumber</div>
                                                            } else {
                                                                <div class="publicaciones-wrap">0</div>
                                                            }
                                                        </div>
                                                    </article>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="proyectos-destacados-panel" role="tabpanel" aria-labelledby="proyectos-destacados-tab">
                            <div class="row">
                                <div class="col col-12 header-listado">
                                    <div class="h1-container">
                                        <h2>@Html.Translate("PROYECTOS_SELECCIONADOS")
                                            <span class="numResultados">@pOffer.Roh_project.Count</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col col-12 col-contenido derecha">
                                    <div class="wrapCol">
                                        <div class="acciones-listado acciones-listado-investigadores">
                                            <div class="wrap">
                                                <div class="usuario-wrap">@Html.Translate("PROYECTO")</div>
                                            </div>
                                        </div>
                                        <div class="resource-list listView resource-list-investigadores">
                                            <div class="resource-list-wrap">

                                                @foreach (ProjectOntology.Project project in pOffer.Roh_project)
                                                {

                                                    <article class="resource">
                                                        <div class="wrap">
                                                            <div class="usuario-wrap">
                                                                <div class="user-miniatura">
                                                                    <div class="imagen-usuario-wrap">
                                                                        <a href="@project.URL">
                                                                            <div class="imagen con-material-icons">
                                                                                <!-- <span style="background-image: url(http://serviciosedma.gnoss.com/imagenes/proyectos/personalizacion/b836078b-78a0-4939-b809-3f2ccf4e5c01/theme/resources/iconos/person-gris.png)"></span> -->
                                                                                <span class="material-icons">work</span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="nombre-usuario-wrap">
                                                                        <a href="@project.URL">
                                                                            <p class="nombre">@project.Roh_title</p>
                                                                            <p class="nombre-completo">
                                                                                @{
                                                                                    if (!string.IsNullOrEmpty(project.Roh_geographicFocusOther))
                                                                                    {
                                                                                        <span about="@project.GNOSSID" property="@project.GetPropertyURI(nameof(project.Roh_geographicFocusOther))">@project.Roh_geographicFocusOther, </span>
                                                                                    }
                                                                                    if (project.Vivo_start != null)
                                                                                    {
                                                                                        @Html.Raw("<span><b> ") @project.Vivo_start.Value.ToString("dd/MM/yyyy")
                                                                                    }
                                                                                    if (project.Vivo_end != null)
                                                                                    {
                                                                                        <span> - </span> @project.Vivo_end.Value.ToString("dd/MM/yyyy")
                                                                                    }
                                                                                    if (project.Vivo_start != null)
                                                                                    {
                                                                                        @Html.Raw("</b></span>")
                                                                                    }
                                                                                    if (project.Roh_conductedBy != null && !string.IsNullOrEmpty(project.Roh_conductedBy.Roh_title))
                                                                                    {
                                                                                        <span> @project.Roh_conductedBy.Roh_title</span>
                                                                                    }
                                                                                }
                                                                            </p>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="publicaciones-destacadas-panel" role="tabpanel" aria-labelledby="publicaciones-destacadas-tab">
                            <div class="row">
                                <div class="col col-12 header-listado">
                                    <div class="h1-container">
                                        <h2>@Html.Translate("PRUBLICACIONES_SELECCIONADOS")
                                            <span class="numResultados">@pOffer.Roh_project.Count</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col col-12 col-contenido derecha">
                                    <div class="wrapCol">
                                        <div class="acciones-listado acciones-listado-investigadores">
                                            <div class="wrap">
                                                <div class="usuario-wrap">@Html.Translate("PROYECTO")</div>
                                            </div>
                                        </div>
                                        <div class="resource-list listView resource-list-investigadores">
                                            <div class="resource-list-wrap">

                                                @foreach (DocumentOntology.Document document in pOffer.Roh_document)
                                                {

                                                    <article class="resource">
                                                        <div class="wrap">
                                                            <div class="usuario-wrap">
                                                                <div class="user-miniatura">
                                                                    <div class="imagen-usuario-wrap">
                                                                        <a href="@document.URL">
                                                                            <div class="imagen con-material-icons">
                                                                                <!-- <span style="background-image: url(http://serviciosedma.gnoss.com/imagenes/proyectos/personalizacion/b836078b-78a0-4939-b809-3f2ccf4e5c01/theme/resources/iconos/person-gris.png)"></span> -->
                                                                                <span class="material-icons">article</span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="nombre-usuario-wrap">
                                                                        <a href="@document.URL">
                                                                            <p class="nombre">@document.Roh_title</p>
                                                                            <p class="nombre-completo">
                                                                                @{
                                                                                    if (document.Roh_presentedAtGeographicFocus != null && document.Roh_presentedAtGeographicFocus.Dc_title != null && !string.IsNullOrEmpty(document.Roh_presentedAtGeographicFocus.Dc_title[idiomaUsuario]))
                                                                                    {
                                                                                            <span about="@document.GNOSSID" property="@document.GetPropertyURI(nameof(document.Roh_presentedAtGeographicFocus))">@document.Roh_presentedAtGeographicFocus.Dc_title[idiomaUsuario], </span>
                                                                                    }
                                                                                    if (document.Roh_presentedAtStart != null)
                                                                                    {
                                                                                            <span><b> @document.Roh_presentedAtStart 
                                                                                    }
                                                                                    @if (document.Roh_presentedAtEnd != null)
                                                                                    {
                                                                                            @Html.DisplayText(" - ") @document.Roh_presentedAtEnd
                                                                                    }
                                                                                    if (document.Vivo_start != null)
                                                                                    {
                                                                                            </b></span>
                                                                                    }
                                                                                    if (document.Vcard_hasRegion != null && document.Vcard_hasRegion.Gn_name != null && !string.IsNullOrEmpty(document.Vcard_hasRegion.Gn_name[idiomaUsuario]))
                                                                                    {
                                                                                            <span> @document.Vcard_hasRegion.Gn_name[idiomaUsuario]</span>
                                                                                    }
                                                                                }
                                                                            </p>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pll-destacados-panel" role="tabpanel" aria-labelledby="pll-destacados-tab">
                            <div class="row">
                                <div class="col col-12 col-section-title font-weight-bold">
                                    <div class="wrapCol">
                                        <p>@Html.Translate("PII_SELECCIONADOS")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modal-eliminar-oferta-confirmacion" class="modal modal-top fade modal-edicion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title"><span class="material-icons">delete</span>@Html.Translate("BORRAR_OFERTA")</p>
                    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
                </div>
                <div class="modal-body">
                    <div class="formulario-edicion">
                        <div class="custom-form-row">
                            <div class="form-group full-group">
                                <label class="control-label d-block">@Html.Translate("CONFIRMACION_BORRAR_OFERTA")</label>
                                <div class="form-actions">
                                    <a href="javascript: borrarOferta()" class="btn btn-primary uppercase">@Html.Translate("BORRAR")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}






<!-- JAVASCRIPT -->
<script type="text/javascript">

    // Datos gráfica áreas temáticas
    function borrarOferta() {
        var url = url_servicio_externo + "Ofertas/BorrarOferta"
        var arg = {};
        arg.pIdOfferId = "@pOffer.GNOSSID"
        $.get(url, arg, function (data) {
            window.location = "@Comunidad.Url/@Html.Translate("OFERTA_URL")"
        });
    }

</script>
