@using Es.Riam.Gnoss.Web.MVC.Models
@using Es.Riam.Gnoss.Web.MVC.Controles.Helper
@using Es.Riam.Gnoss.Web.MVC.Models.ViewModels
@using Es.Riam.Gnoss.Web.MVC.Models.Administracion
@using Es.Riam.Gnoss.AD.ServiciosGenerales
@using Es.Riam.Gnoss.Web.MVC.Controllers
@using Es.Riam.Gnoss.Web.MVC.Controllers.Administracion
@using Es.Riam.Gnoss.Web.Controles
@model CMSComponentHot
@{ CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
}
@if(Model != null)
{
	<div class="col col-12 col-breadcrumb">
	    <ul>
	        <li>
	            <a href="@Comunidad.Url">Home</a>
	        </li>
	        <li>
	            @Model.Title
	        </li>
	    </ul>
	</div>

	@if (!IdentidadActual.IsGuestUser)
	{
		<script type="text/javascript">
			var stepsOffer;
			$(document).ready(function () {
				stepsOffer = new StepsOffer();
				stepsOffer.init()
			});
		</script>


		<div class="col col-12">
			
			<div id="wrapper-crear-oferta" class="edicionRecurso edicionoferta" tabindex="-1" data-eliminartext="@Html.Translate("ELIMINAR")" data-areastematicastext="@Html.Translate("AREAS_TEMATICAS")" data-descriptoresespecificostext="@Html.Translate("DESCRIPTORES_ESPECIFICOS")" data-comurl="@Comunidad.Url" data-comkey="@Comunidad.Key.ToString()" data-cshortname="@Comunidad.ShortName" data-urlrecurso="@Html.GetText("URLSEM", "RECURSO")" data-editaroferta="@Html.Translate("EDITAR_OFERTA")" data-addotherprofile="@Html.Translate("ANADIR_OTRO_PERFIL")" data-addnewprofile="@Html.Translate("ANADIR_UN_PERFIL")" data-imguser="@Html.GetBaseUrlContent()/imagenes/proyectos/personalizacion/@Comunidad.Key.ToString()/theme/resources/iconos/person-gris.png">
				<div class="formulario-edicion background-blanco">
					<h1 class="mb-5">@Model.Title</h1>
			    	<div class="botonera" id="botonera-steps">
		                <a href="javascript:stepsOffer.goBack()" class="btn btn-outline-primary uppercase beforeStep" style="display:none">
		                    <span class="material-icons">keyboard_arrow_left</span>
		                    @Html.Translate("ANTERIOR")
		                </a>
		                <a href="javascript:stepsOffer.goNext()" class="btn btn-primary uppercase nextStep">
		                    @Html.Translate("SIGUIENTE")
		                    <span class="material-icons">keyboard_arrow_right</span>
		                </a>
		                <a href="javascript:stepsOffer.goEnd()" class="btn btn-primary uppercase endStep" style="display:none">
		                    @Html.Translate("GUARDAR_TERMINAR")
		                    <span class="material-icons">keyboard_arrow_right</span>
		                </a>
		            </div>
			        <div class="step-progress-wrap d-inline-flex mb-5">
			            <ul class="step-progress">
			                <li class="step-progress__circle active" id="step1">
			                    <a href="javascript: void(0);">
			                        <span class="step-progress__text current">1. @Html.Translate("DATOS_INICIALES")</span>
			                    </a>
			                </li>
			                <li class="step-progress__bar"></li>
			                <li class="step-progress__circle" id="step2">
			                    <a href="javascript: void(0);">
			                        <span class="step-progress__text">2. @Html.Translate("INVESTIGADORES")</span>
			                    </a>
			                </li>
			                <li class="step-progress__bar"></li>
			                <li class="step-progress__circle" id="step3">
			                    <a href="javascript: void(0);">
			                        <span class="step-progress__text">3. @Html.Translate("ESTADO")</span>
			                    </a>
			                </li>
			                <li class="step-progress__bar"></li>
			                <li class="step-progress__circle" id="step4">
			                    <a href="javascript: void(0);">
			                        <span class="step-progress__text">4. @Html.Translate("DATOS_DESCRIPTIVOS")</span>
			                    </a>
			                </li><li class="step-progress__bar"></li>
			                <li class="step-progress__circle" id="step5">
			                    <a href="javascript: void(0);">
			                        <span class="step-progress__text">5. @Html.Translate("EXPERIENCIA_DESTACABLE")</span>
			                    </a>
			                </li>
			            </ul>
			        </div>
				    <div class="steps-content-wrap">
				        <div class="p-3 mb-2 bg-danger text-white" id="error-modal-oferta" style="display:none">@Html.Translate("REVISE_ERRORES_CAMPOS_RELLENADOS")</div>
				        <div class="p-3 mb-2 bg-danger text-white" id="error-modal-oferta-step2" style="display:none">@Html.Translate("REVISE_ERRORES_CAMPOS_ETIQUETAS_TAGS")</div>
				        <div class="p-3 mb-2 bg-danger text-white" id="error-modal-oferta-step2-equals" style="display:none">@Html.Translate("PERFILES_REPETIDOS")</div>
				        <div class="p-3 mb-2 bg-danger text-white" id="error-modal-server-oferta" style="display:none">@Html.Translate("ERROR_SERVER")</div>

				        <!-- START STEP 1 -->
				        <div id="wrapper-crear-oferta-step1" class="fade show section-steps">
				            <form class="formulario-edicion background-blanco" type="post" id="oferta-step1-form">
				                <fieldset>
				                    <legend>@Html.Translate("DATOS_INICIALES")</legend>
				                    <div class="form-group mb-5 edit-titulo">
				                        <label class="control-label d-block">@Html.Translate("TITULO") *</label>
				                        <input placeholder="@Html.Translate("INTRODUCE_TITULO_OFERTA")" type="text" name="nombreoferta" id="nombreofertainput" class="form-control not-outline">
				                    </div>


				                    <!-- Areas temáticas -->
				                    <div class="panel-body mb-5 edit-etiquetas pl-0 d-none">
				                        <div class="form-group">
				                            <label class="control-label d-block">@Html.Translate("AREAS_TEMATICAS") *</label>
				                            <div class="autocompletar autocompletar-tags form-group" id="oferta-modal-sec1-tax-wrapper">
				                                <span class="tag-list mb-4">
				                                </span>
				                            </div>
				                            <a class="btn btn-outline-primary" href="javascript: void(0)">
				                                <span class="material-icons" data-rel="oferta-modal-sec1-tax-wrapper" onclick="stepsOffer.setAreasTematicas(this)">add</span>
				                            </a>
				                        </div>
				                    </div>
				                    <!-- Fin Areas temáticas -->


				                    <!-- Descriptores específicos -->
                                    <div class="form-group mb-5 edit-etiquetas tags-items">
										<label class="control-label d-block">@Html.Translate("DESCRIPTORES_ESPECIFICOS") (*)</label>
										<div class="autocompletar autocompletar-tags form-group" id="oferta-modal-seleccionar-tags-stp1">
											<div class="tag-list mb-4 d-inline"></div> 
										</div>
										<a class="btn btn-outline-primary" href="javascript: void(0)">

											<div class="btn-wrap" onclick="stepsOffer.loadModalTopics(this)" data-rel="oferta-modal-seleccionar-tags-stp1">
												<span class="btn-text">@Html.Translate("DESCRIPTOR_ESPECIFICO")</span>
												<span class="material-icons">add</span>
                                            </div>


										</a>
									</div>
                                    <!-- Fin Descriptores específicos -->


				                    <!-- Investigadores del grupo -->
				                    <div class="form-group mb-5" id="stp1-ofertas-investigadores-grupo">
                                        <label class="control-label d-block">@Html.Translate("ANADIR_PERSONAL_INVESTIGADOR")</label>
                                        <div class="acciones-listado acciones-listado-investigadores">
										    <div class="wrap">
										        <div class="usuario-wrap">@Html.Translate("INVESTIGADOR")</div>
										        <div class="publicaciones-wrap d-none">@Html.Translate("PUBLICACIONES")</div>
										    </div>
										</div>
										<div class="resource-list listView resource-list-investigadores list-con-checks">
										    <div class="resource-list-wrap">
									    	</div>
										</div>
									</div>
									<!-- Fin investigadores del grupo -->

				                </fieldset>
				            </form>
				        </div>
				        <!-- END STEP 1 -->

				        <!-- START STEP 2 -->
				        <div id="wrapper-crear-oferta-step2" class="fade section-steps">
				            <ul class="nav nav-tabs" id="myTab" role="tablist">
				                <li class="nav-item">
				                    <a class="nav-link active" id="sugeridos-oferta-tab" data-toggle="tab" href="#sugeridos-oferta" role="tab" aria-controls="sugeridos-oferta" aria-selected="true">@Html.Translate("SELECCIONABLES")</a>
				                </li>
				                <li class="nav-item">
				                    <a class="nav-link" id="seleccionados-oferta-tab" data-toggle="tab" href="#seleccionados-oferta" role="tab" aria-controls="seleccionados-oferta" aria-selected="false">@Html.Translate("SELECCIONADOS") <span id="stp2-num-selected"></span></a>
				                </li>
				            </ul>
				            <div class="tab-content">
				                <div class="tab-pane fade active show" id="sugeridos-oferta" role="tabpanel" aria-labelledby="sugeridos-oferta-tab">
				                    <div class="row">
				                        @* <div class="col col-12 pt-4">
			                            	<div class="alert alert-warning alert-dismissible fade show" role="alert">
												<strong>@Html.Translate("ATENCION").</strong> @Html.Translate("DEBES_SELECCIONAR_LOS_PERFILES_CLICANDOLOS_CADA_PERSONA")
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
				                        </div> *@
				                        <div class="col col-12">
				                            <div class="wrapCol mt-4">
				                                <div class="row" id="ofertaListUsers" data-volumen="@Html.Translate("ORDER_VOLUMEN")" data-ajuste="@Html.Translate("ORDER_AJUSTE")" data-mixto="@Html.Translate("ORDER_MIXTO")">
				                                    
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				                <div class="tab-pane fade" id="seleccionados-oferta" role="tabpanel" aria-labelledby="seleccionados-oferta-tab">
				                    
				                    <div class="row">

				                        <div class="col col-12 col-section-title font-weight-bold">
				                            <div class="wrapCol">
				                                <p>@Html.Translate("LISTADO_INVETIGADORES_SELECCIONADOS")</p>
				                            </div>
				                        </div>
				                        @* <div class="col col-12 col-contenido" id="perfiles-stp2-result-oferta">
				                            <p class="section-title">@Html.Translate("PERFILES") </p>
				                            
				                        </div> *@
				                        <div class="col col-12 col-xl-9 col-contenido" id="researchers-stp2-result-oferta">
										    <div class="acciones-listado acciones-listado-investigadores">
											    <div class="wrap">
											        <div class="usuario-wrap"></div>
											        <div class="publicaciones-wrap">@Html.Translate("PUBLICACIONES")</div>
											        <div class="acciones-wrap">@Html.Translate("ACCIONES")</div>
											    </div>
											</div>
											<div class="resource-list listView resource-list-investigadores">
											    <div class="resource-list-wrap">
											        <article class="resource">
											            <div class="wrap">
											                <div class="usuario-wrap">
											                    <div class="user-miniatura">
											                        <div class="imagen-usuario-wrap">
											                            <a href="./fichaPerfil.php">
											                                <div class="imagen">
											                                    <span style="background-image: url(theme/resources/imagenes-pre/foto-usuario-2.jpg)"></span>
											                                </div>
											                            </a>
											                        </div>
											                        <div class="nombre-usuario-wrap">
											                            <a href="./fichaPerfil.php">
											                                <p class="nombre">Nombre Apellido Investigador</p>
											                            </a>
											                        </div>
											                    </div>
											                    <div class="list-wrap">
											                        <ul>
											                            <li>
											                                <a href="javascript: void(0);" class="font-weight-bold">Profesor Titular de Universidad</a>
											                            </li>
											                            <li>
											                                <a href="javascript: void(0);">Universidad de Murcia</a>
											                            </li>
											                            <li>
											                                <a href="javascript: void(0);">Informática y sistemas</a>
											                            </li>
											                        </ul>
											                    </div>
											                </div>
											                <div class="publicaciones-wrap">
											                    40
											                </div>
											                <div class="acciones-wrap">
											                    <ul class="no-list-style">
											                        <li>
											                            <a href="javascript: void(0);" class="texto-gris-claro">
											                                Eliminar
											                                <span class="material-icons-outlined">delete</span>
											                            </a>
											                        </li>
											                    </ul>
											                </div>
											            </div>
											        </article>
											    </div>
											</div>
										</div>
				                    </div>

				                </div>
				            </div>
				        </div>
				        <!-- END STEP 2 -->

				        <!-- START STEP 3 -->
				        <div id="wrapper-crear-oferta-step3" class="fade section-steps">
				            <form class="formulario-edicion background-blanco">
				                <fieldset>
				                    <legend>@Html.Translate("DEFINIR_PERFILES_AREAS_INVESTIGACION")</legend>
				                    <p>@Html.Translate("QUIERES_BUSCAR_INVESTIGADORES_EXPERIENCIA___")</p>
				                    <p>@Html.Translate("ORGANIZA_AREAS_PERFIL_TEMATICOS___")</p>
				                    <p class="section-title">@Html.Translate("PERFILES")</p>
				                    <div class="panel-group pmd-accordion" id="accordion_oferta" role="tablist" aria-multiselectable="true">
				                        <div class="panel">
				                            
				                        </div>
				                    </div>
				                    <div class="form-group mt-4 mb-4 anadir-perfil">
				                        <a class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-anadir-perfil-oferta" id="wrapper-crear-oferta-step2-add-profile">@Html.Translate("ANADIR_UN_PERFIL") *</a>
				                    </div>
				                </fieldset>
				                <div class="botonera">
				                    <a href="javascript:stepsOffer.goStep(1)" class="btn btn-outline-primary uppercase">
				                        <span class="material-icons">keyboard_arrow_left</span>
				                        @Html.Translate("ANTERIOR")
				                    </a>
				                    <a href="javascript:stepsOffer.goStep(3)" class="btn btn-primary uppercase">
				                        @Html.Translate("SIGUIENTE")
				                        <span class="material-icons">keyboard_arrow_right</span>
				                    </a>
				                </div>
				            </form>
				        </div>
				        <!-- END STEP 3 -->

				        <!-- START STEP 4 -->
				        <div id="wrapper-crear-oferta-step4" class="fade section-steps">
				            <div class="botonera">
				                <a href="javascript:stepsOffer.goStep(3)" class="btn btn-outline-primary uppercase">
				                    <span class="material-icons">keyboard_arrow_left</span>
				                    @Html.Translate("ANTERIOR")
				                </a>
				                <a href="javascript:stepsOffer.goStep(5)" class="btn btn-primary uppercase">
				                    @Html.Translate("GUARDAR_TERMINAR")
				                    <span class="material-icons">keyboard_arrow_right</span>
				                </a>
				            </div>
				        </div>
				        <!-- END STEP 4 -->
				        <!-- START STEP 5 -->
				        <div id="wrapper-crear-oferta-step4" class="fade section-steps">
				            <div class="botonera">
				                <a href="javascript:stepsOffer.goStep(4)" class="btn btn-outline-primary uppercase">
				                    <span class="material-icons">keyboard_arrow_left</span>
				                    @Html.Translate("ANTERIOR")
				                </a>
				                <a href="javascript:stepsOffer.goStep(6)" class="btn btn-primary uppercase">
				                    @Html.Translate("GUARDAR_TERMINAR")
				                    <span class="material-icons">keyboard_arrow_right</span>
				                </a>
				            </div>
				        </div>
				        <!-- END STEP 5 -->
				    </div>
				</div>
			</div>
			      
		</div>

		<div id="modal-seleccionar-area-tematica" data-backdrop="static" class="modal modal-top fade modal-edicion" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <p class="modal-title"><span class="material-icons">folder_open</span>@Html.Translate("SELECCIONAR_AREAS_TEMATICAS")</p>
		                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
		            </div>
		            <div class="modal-body">
		                <div class="formulario-edicion">
		                    <div class="form-group">
		                        <label class="control-label">@Html.Translate("AREAS_TEMATICAS")</label>
		                    </div>
		                    <small>@Html.Translate("TEXTO_EXPLICATIVO_MODAL_AREAS_TEMATICAS")</small>
		                    <div id="panDesplegableSelCat" class="mt-4">
		                        <ul class="nav nav-tabs d-none" id="myTab" role="tablist">
		                            <li class="nav-item">
		                                <a class="nav-link active" id="ver-arbol-tab" data-toggle="tab" href="#ver-arbol" role="tab" aria-controls="ver-arbol" aria-selected="true">@Html.Translate("ARBOL")</a>
		                            </li>
		                        </ul>
		                        <div class="tab-content pt-0">

		                            <div class="tab-pane fade show active" id="ver-arbol" role="tabpanel" aria-labelledby="ver-arbol-tab">
		                                <div class="divTesArbol divCategorias clearfix">
		                                    <div class="buscador-categorias">
		                                        <div class="form-group">
		                                            <input class="filtroRapido form-control not-outline" placeholder="@Html.Translate("BUSCAR_AREA_TEMATICA")" type="text" onkeydown="javascript:if(event.which || event.keyCode){if ((event.which == 13) || (event.keyCode == 13)) {return false;}}" onkeyup="javascript:MVCFiltrarListaSelCatArbol(this, 'panDesplegableSelCat');">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="form-actions top">
		                        <a href="javascript:void(0)" class="btn btn-primary pmd-ripple-effect btnsave disabled">@Html.Translate("GUARDAR_CAMBIOS")</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div id="modal-anadir-topicos-oferta" data-backdrop="static"  class="modal modal-top fade modal-anadir-topicos" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content modal-content-height">
		            <div class="modal-header">
		                <p class="modal-title"><span class="material-icons">label</span>@Html.Translate("ANADIR_DESCRIPTORES_ESPECIFICOS")</p>
		                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
		            </div>
		            <div class="modal-body">
		                <div class="formulario-edicion">
		                    <div class="custom-form-row">
		                        <div class="form-group full-group">
		                            <label class="control-label d-block">@Html.Translate("DESCRIPTOR_ESPECIFICO")</label>
		                            <small class="pb-2 d-inline-block">@Html.Translate("TEXTO_EXPLICATIVO_TAGS_MODAL")</small>
		                            <input placeholder="@Html.Translate("TECLEA_E_INTRODUCE_AUTOCOMPLETADO")" type="text" name="" id="tagsSearchModalOferta" class="form-control not-outline">
		                            <div class="ac_results" style="position: absolute;width: 100%;display: none;">
		                                <ul>
		                                </ul>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="list-wrap tags">
		                        <ul>
		                        </ul>
		                    </div>
		                    <div class="form-actions top">
		                        <a href="javascript: void(0);" class="btn btn-primary uppercase btnclosemodal" data-dismiss="modal">@Html.Translate("GUARDAR")</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div id="modal-anadir-perfil-oferta" class="modal modal-top fade modal-edicion" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <p class="modal-title"><span class="material-icons">person</span>@Html.Translate("ANADIR_PERFIL")</p>
		                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
		            </div>
		            <div class="modal-body">
		                <div class="formulario-edicion">
		                    <div class="custom-form-row">
		                        <div class="form-group full-group">
		                            <label class="control-label d-block">@Html.Translate("ANADIR_PERFIL")</label>
		                            <input placeholder="@Html.Translate("INTRODUCE_NOMBRE_NUEVO_PERFIL")" type="text" name="perfilname" id="input-anadir-perfil" class="form-control not-outline">
		                        </div>
		                    </div>
		                    <div class="form-actions">
		                        <a href="javascript: stepsOffer.addPerfilSearch()" class="btn btn-primary uppercase">@Html.Translate("GUARDAR")</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div id="modal-editar-perfil-oferta" class="modal modal-top fade modal-edicion" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <p class="modal-title"><span class="material-icons">person</span>@Html.Translate("EDITAR_PERFIL")</p>
		                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
		            </div>
		            <div class="modal-body">
		                <div class="formulario-edicion">
		                    <div class="custom-form-row">
		                        <div class="form-group full-group">
		                            <label class="control-label d-block">@Html.Translate("EDITAR_PERFIL")</label>
		                            <input placeholder="@Html.Translate("INTRODUCE_NOMBRE_NUEVO_PERFIL")" type="text" name="perfilname" id="input-editar-perfil" class="form-control not-outline">
		                        </div>
		                    </div>
		                    <div class="form-actions">
		                        <a href="javascript: void(0)" class="btn btn-primary btneditar uppercase">@Html.Translate("EDITAR")</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	}
}


